@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Scrollbar Style */
  ::-webkit-scrollbar {
    width: 0;
  }
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: transparent;
  }
  /* Scrollbar Style */

  /* universal style */
  .border-style {
    @apply hidden my-3 border-t border-gray-300 xl:flex;
  }
  /* universal style */

  /* Menu Style */
  .menu-active {
    @apply flex items-center text-base gap-2 px-4 py-2 rounded-lg bg-[#393E46] opacity-100 text-white;
  }

  .menu-not-active {
    @apply flex items-center text-base gap-2 px-4 py-2 rounded-lg  hover:bg-[#393E46] hover:text-white lg:hover:scale-105 transition-all lg:duration-300 opacity-70 hover:opacity-100;
  }

  .social-media-hover {
    @apply transition duration-300 text-neutral-400 hover:text-neutral-300 lg:hover:scale-110;
  }
  /* Menu Style */

  /* Certificate Style */
  .card-certi-links {
    @apply flex items-center gap-1 underline duration-300 cursor-pointer hover:gap-2 hover:text-[#EEEEEE];
  }

  .card-certi-bg {
    @apply flex items-center gap-5 px-6 py-4 transition-all duration-300 border shadow-sm rounded-xl lg:hover:shadow-md border-[#393E46] bg-[#393E46] hover:scale-[102%];
  }
  /* Certificate Style */

  /* Project Page Style */
  .project-card-bg {
    @apply rounded-xl transition-all duration-300 shadow-sm lg:hover:shadow-md relative border bg-[#393E46] border-[#393E46] lg:hover:scale-[102%] cursor-pointer;
  }

  .project-card-title-hover {
    @apply text-lg transition-all duration-300 cursor-pointer  text-white hover:text-[#FFCF01];
  }

  .project-description {
    @apply text-neutral-400 text-[15px] leading-relaxed;
  }

  .banner {
    @apply absolute top-0 right-0 bg-[#FFCF01] text-[#222831] text-[13px]  py-1 px-2 rounded-bl-xl font-semibold rounded-tr-xl z-[2];
  }

  .project-image-style {
    @apply object-cover object-center h-48 duration-700 ease-in-out scale-100 blur-0 grayscale-0 rounded-t-xl;
  }
  /* Project Page Style */

  /* education page style */
  .image-edu-style {
    @apply absolute flex items-center justify-center w-6 h-6 rounded-full -left-3 ring-8 ring-gray-900;
  }

  .edu-title {
    @apply text-base font-semibold text-white md:text-lg;
  }

  .cllick-effect {
    box-shadow: 0 0 0 0;
  }

  .cllick-effect:hover {
    box-shadow: 7px 8px 0 0 #266669;
    transform: translateY(-4px);
  }

  .cllick-effect:active {
    transform: translateY(4px);
    box-shadow: 0 0 0 0;
  }

  /* learn style */
  .learn-card-bg {
    @apply flex items-center justify-start bg-[#393E46] py-3 px-3 w-full rounded-lg hover:scale-[102%] duration-300;
  }
  /* learn style */
}
